html, body, #my-page{
    height: 100%;
}
h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}
.home#my-page{
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    color: whitesmoke;
    z-index: 1;
    min-height: 700px
}
.home#my-page::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    z-index: 0;
    opacity: .7;
}
body{
    font-size: 11pt;
    min-width: 320px;
    position: relative;
    line-height: 1.75em;
    overflow-x: hidden;
    opacity: 1;
}
header{
    position: relative;
    z-index: 1;
}
#my-footer{
    position: relative;
}
.btn-main{
    color: whitesmoke;
    background-color: #5b8fe2;
    border: none;
    padding: 7px 15px;
    font-weight: bold;
    list-style-type: none;
    text-decoration: none;
    position: relative;
    display: inline-block;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.btn-main::after{
    content: '';
    position: absolute;
    height: 4px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #4e88e6;
}
.btn-main:active{
    background-color: #4e88e6;
    border: none;
    text-decoration: none;
    color: whitesmoke;
}
.btn-main:focus{
    background-color: #4e88e6;
    border: none;
    text-decoration: none;
    color: whitesmoke;
}
.btn-main:hover{
    background-color: #6d9eea;
    border: none;
    text-decoration: none;
    color: whitesmoke;
}
#my-content{
    position: relative;
    z-index: 1;
}
.content.home{

}
.top-line{
    padding: 8px 0;
}
.top-line .descr p{
    margin: 0;
}
.top-line .contacts{
    position: relative;
    top: 8px;
}
.top-line .logo{
    display: inline-block;
}
.top-line .block-btn{
    position: relative;
    top: 12px;
}
.top-line h1{
    display: inline-block;
    position: relative;
    top: 7px;
}
.top-menu{
    text-align: center;
    background-color: #4c4e50;
    padding: 15px 0;
}
.top-menu ul{
    display: inline-block;
    margin: 3px 0 0 0;
    padding:0;
}
.top-menu ul li{
    list-style-type: none;
    display: inline-block;
}
.top-menu ul li a{
    font-size: 1.5em;
    color: whitesmoke;
    text-decoration: underline;
    padding: 15px 30px;
    border: 2px solid transparent;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.top-menu ul li a:hover{
    border: 2px solid #5b8fe2;
    color: #5b8fe2;
}
.block-callback{
    background-color: rgba(91, 143, 226, 0.4);
    padding: 30px;
    color: whitesmoke;
}
.block-callback h1{
    margin: 0 0 35px 0;
}
.block-callback .labeled-input input:focus + .label-placeholder {
    bottom: 30px;
    cursor: default;
    color: whitesmoke;
}
.block-callback .labeled-input input:focus {
    border-color: whitesmoke;
    outline: none;
}
.block-callback .labeled-input input + .label-placeholder {
    /*color: #333;*/
}
.block-callback .labeled-input input{
    background-color: transparent;
    color: whitesmoke;
}
.content.home{
    margin: 120px 0 0 0;
}
.block-short-descr .title{
    font-size: 2.5em;
    text-align: center;
    line-height: 1em;
}
.block-short-descr .info{
    font-size: 1.5em;
}
.block-short-descr ul li{
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 1.1em;
}
.block-short-descr ul li i{
    color: #5b8fe2;
    font-size: 2em;
    padding: 0 10px 0 0;
}
/*-----------------------------------------------------------modal----------------------------------------------------*/
.mm-slideout { z-index:auto!important;}
.modal-header{
    border: 0;
    padding-left: 60px;
}

.modal-content {
    border-radius: 0;
    color: #333;

    /*нужны медиа*/
}
.modal-content .close {
    color: #333;
}
.modal-body {
    padding: 25px 60px 50px;
}
.modal-body i {
    font-size: 15px;
}
.modal-body h2 {
    margin-bottom: 40px;
}
.modal-body a {
    color: #333;
    border-bottom: 1px dotted #333;
}

.labeled-input input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 0 2px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: white;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid #333;
    z-index: 2;
}
.labeled-input {
    position: relative;
    margin-bottom: 40px;
}
.labeled-input input::placeholder {
    color: transparent;
}
.labeled-input input:focus::placeholder {
    color: lightgrey;
}

.labeled-input .label-placeholder,
.labeled-area .label-placeholder {
    position: absolute;
    bottom: 0;
    transition: all .3s ease;
    z-index: 1;
    cursor: text;
}
.labeled-input input:hover + .label-placeholder{
    bottom: 5px;
}
.labeled-input input:valid +.label-placeholder {
    bottom: 30px;
    cursor: default;
    color: #333;
}
.labeled-input input:focus + .label-placeholder {
    bottom: 30px;
    cursor: default;
    color: #5b8fe2;
}
.labeled-input input:focus {
    border-color: #5b8fe2;
    outline: none;
}
.center-block{
    display: block;
}
/*--------------------------------------------------------------------------------------------------------------------*/