html, body, #my-page{
    height: 100%;
}
.home#my-page{
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    color: whitesmoke;
    z-index: 1;
}
.home#my-page::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    z-index: 0;
    opacity: .6;
}
body{
    font-size: 11pt;
    min-width: 320px;
    position: relative;
    line-height: 1.75em;
    overflow-x: hidden;
    opacity: 1;
}
header{
    position: relative;
    z-index: 1;
}
#my-content{
    position: relative;
    z-index: 1;
}
.content.home{

}
.top-line .logo{
    display: inline-block;
}
.top-line h1{
    display: inline-block;
}