/*==========  Desktop First (max-width)  ==========*/
/*Правило применяется к браузеру, ширина которого меньше значения, указанного в запросе.*/

@media only screen and (max-width : 1470px){
    /**/
    .all-rf{
        right: 0;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
    /**/
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
    .top-line .contacts .email span{
        font-size: 0.95em;
    }
    .top-line .descr p{
        line-height: 1.3em;
    }
    .f-block-1, .f-block-2{
        top: 0;
    }
    .f-block-1 h3{
        top: 0;
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
    .top-line .block-btn{
        margin-top: 10px;
        top: 5px;
    }
    .content.home{
        margin: 0;
    }
}

@media only screen and (max-width : 501px){
    html, body, #my-page, .mm-page{
        height: inherit;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
    /**/
}

@media only screen and (max-width: 450px) {
    .main-page .logo img {
        max-width: 100%;
    }
}

@media only screen and (max-width: 380px){
    .main-page header .fa-envelope-o {
        display: none;
    }
}

@media only screen and (max-width: 362px){
    .main-page header a {
        font-size: 0.9em;
    }
}


@media only screen and (max-width: 345px){
    .main-page header a {
        font-size: 0.85em;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
    /**/
}



/*==========  Min-width  ==========*/
/*Правило применяется к браузеру, ширина которого больше значения, указанного в запросе.*/

@media only screen and (min-width: 0){
    /**/
}


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
    /**/
}


/* Custom, 360 */
@media only screen and (min-width: 360px){
    /**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
    /**/
}


@media only screen and (min-width: 640px){
    /**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
    /**/
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
    /**/
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
    /**/
}

@media only screen and (min-width: 1280px){
    /**/
}

@media only screen and (min-width: 1680px){
    /**/
}